<div style='text-align: center;'>
    <img src="assets/graphics/icons/logo.png" height='150px' style='padding-top: 40px;'>
    <div style="padding-top: 270px;">
        <b><span id='welcome-span' style='font-size: 24px; display: inline-block; padding-bottom: 10px;'>Do you want to link a GitHub repository to your room?</span></b> <br>

        <button class='button2' style='width: 90px;'>Yes</button> <br>
        <i>Currently Unavailable</i> <br>
        <button class='button1' style='width: 90px;' (click)="cont()">No</button>
    </div>
</div>
