<div class="wall-git">
	<img class="logo-wall" src="assets/graphics/icons/logo.png" alt="">
	<div class="header-area"> 
		<h2 class="git-header"><b>Git Commit History for Megasoft Repository</b></h2> 
	</div>
	<div class="commits-area">
		<div class="left-area"></div>
		<div class="mid-area">
			<div class="commits"> 
				<div class="commit-message">Created a bug, help!!!</div> 
				<div class="commit-info">
					<span style="color:#b51e23;">Evangelos Tsiakalos</span> 
					committed on May 25
				</div> 
			</div>
			<div class="commits"> 
				<div class="commit-message">Fixed.</div> 
				<div class="commit-info">
					<span style="color:#b51e23;">Alexios Mylonakis</span> 
					committed on May 25
				</div> 
			</div>
			<div class="commits"> 
				<div class="commit-message">Wdym?It still crashes,tried a solution.</div> 
				<div class="commit-info">
					<span style="color:#b51e23;">Vasileios Geladaris</span> 
					committed on May 26
				</div> 
			</div>
			<div class="commits"> 
				<div class="commit-message">What are you doing? This is production!</div>
				<div class="commit-info">
					<span style="color:#b51e23;">Giannis</span> 
					committed on May 27
				</div> 
			</div>
			<div class="commits"> 
				<div class="commit-message">I fixed it, just kick him.</div> 
				<div class="commit-info">
					<span style="color:#b51e23;">Vasilis Pylis</span> 
					committed on May 27
				</div> 
			</div>
			<div class="commits">
			 	<div class="commit-message">Messaging system implemented.</div>
			 	<div class="commit-info">
					<span style="color:#b51e23;">Serius Dude</span> 
					committed on May 28
				</div> 
			</div>
			<div class="commits"> 
				<div class="commit-message">Yo, why you did my man like that?</div>
				<div class="commit-info">
					<span style="color:#b51e23;">Am I The Only Proffesional</span> 
					committed on May 28
				</div> 
			</div>
		</div>
		<div class="right-area"></div>
	</div>
</div>