<div id="wall-users" style="text-align: center;">
    <div id="left-area">
        <img id="swipe-icon-left"  src="assets/graphics/icons/swipe-grey.png" alt="">
    </div>
    <div id="mid-area">
        <div class="profile-area">
            <img class="user-icon"  src="assets/graphics/icons/user-icon.png" alt="">
            <div class="mic-camera-background">

            </div>
            <div class="mic-camera-area">
                <img class="mic-icon" style="opacity: 1;" src="assets/graphics/icons/mic.svg" alt="">
                <img class="camera-icon" src="assets/graphics/icons/video-camera.svg" alt="">
            </div>
        </div>
        <div class="profile-area">
            <img class="user-icon"  src="assets/graphics/icons/user-icon.png" alt="">
            <div class="mic-camera-background">

            </div>
            <div class="mic-camera-area">
                <img class="mic-icon" style="opacity: 1;" src="assets/graphics/icons/mic.svg" alt="">
                <img class="camera-icon" src="assets/graphics/icons/video-camera.svg" alt="">
            </div>
        </div>
        <div class="profile-area">
            <div class="mic-camera-background">

            </div>
        </div>
        <div class="profile-area">
            <div class="mic-camera-background">

            </div>
        </div>
        <div class="profile-area">
            <div class="mic-camera-background">

            </div>
        </div>
        <div class="profile-area">
            <div class="mic-camera-background">

            </div>
        </div>
    </div>
    <div id="right-area">
        <img id="swipe-icon-right" src="assets/graphics/icons/swipe-grey.png" alt="">
    </div>
</div>
