<div style='text-align: center;'>
    <img src="assets/graphics/icons/logo.png" height='150px' style='padding-top: 40px;'>
    <div style="padding-top: 270px;">
        <b><span id='welcome-span' style='font-size: 24px; display: inline-block; padding-bottom: 10px;'>Your room has been created.</span></b> <br>
        The PassPhrase for your room is <b>{{passphrase}}</b>. Anyone with this PassPhrase can join the room.<br>

        <button class='button1' style='width: 90px;' (click)="connectToRoom()">Got it</button>
    </div>
</div>
