<div style='text-align: center;'>
    <img src="assets/graphics/icons/logo.png" height='150px' style='padding-top: 40px;'>
    <div style="padding-top: 270px;">
        <b><span id='welcome-span' style='font-size: 24px; display: inline-block; padding-bottom: 10px;'>{{msg}}</span></b> <br>
        You are all set up, what do you want to do? <br>

        <button class='button1' (click)="createRoom()">Create a new room</button> <br>
        <button class='button1' (click)="joinRoom()">Join an existing room</button>
    </div>
</div>
